.wrapper{
    display:grid;
    grid-template-columns: repeat(5, auto);
    gap: 2%;
    margin-top:40px;
    list-style:none;
}
.emotion{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    padding:20px 0;
    cursor:pointer;
    border-radius:5px;
}
.emotionName{
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    padding:0 5px;
    text-align:center;    
}
.emotion_off {
    background-color: #ececec;
}
.emotion_on_1{
    background-color: #64c964;
}
.emotion_on_2{
    background-color:#9dd772;
}
.emotion_on_3{
    background-color: #fdce17;
}
.emotion_on_4{
    background-color: #fd8446;
}
.emotion_on_5{
    background-color: #fd565f;
}