.emotion_wrapper {
  text-align: center;
}
.emotion_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin: 20px auto 50px;
  background-color: #64c964;
  text-align: center;
  gap: 20px;
}
.status_1 {
  background-color: #64c964;
}
.status_2 {
  background-color: #9dd772;
}
.status_3 {
  background-color: #fdce17;
}
.status_4 {
  background-color: #fd8446;
}
.status_5 {
  background-color: #fd565f;
}
.emotion_txt {
  margin-top: 40px;
  font-size: 25px;
  color: #fff;
}
.content_wrapper {
  margin: 50px auto 20px;
}
.content {
  margin-top: 30px;
  background-color: darkgray;
  padding: 30px 0 30px 20px;
  border-radius: 5px;
}
.bold_txt {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.content > em {
  font-size: 22px;
}
.content > p {
  font-size: 18px;
}
.btn_wrapper {
  display:flex;
  align-items:center;
  width:150px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}
.btn {
  height:40px;
  border: none;
  display:inline-block;
  background-color: darkgray;
  background-position:center;
  background-repeat:no-repeat;
  background-size:24px;
  cursor:pointer;
}
.blind{
  border: 0;
  font-size:0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
.btn.like {
  width:100px;
  border-right:1px solid #ececec;
  background-position:10px center;
  background-image:url("/common/like.png");
}
.btn.like.active {
  background-image:url("/common/filled_like.png");
  }
.btn.dislike {
  width:50px;
  background-image:url("/common/dislike.png");
}
.btn.dislike.active{
  background-image:url("/common/filled_dislike.png");
}
.count{
  display:inline-block;
  margin-left:25px;
}