.container{
    display:flex;
    cursor:pointer;
    justify-content:space-between;
    margin:10px 0;
    padding:15px 0;
    border-bottom:1px solid #e2e2e2;
}
.img_wrapper{
    display:flex;
    justify-content:center;
    min-width:120px;
    border-radius:5px;
}
.info_wrapper{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    font-weight:700;
    font-size:25px;
    margin-left:20px;
}
.emotion1{
    background-color: #64c964;
}
.emotion2{
    background-color:#9dd772;
}
.emotion3{
    background-color: #fdce17;
}
.emotion4{
    background-color: #fd8446;
}
.emotion5{
    background-color: #fd565f;
}
.createdAt{
    margin-bottom:5px;
}
.title{
    font-size:20px;
}
.img_wrapper{
    display:flex;
    width:60px;
    height:80px;
}