.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top:10px;
}
.right_col {
    flex:1;
    border-radius:5px;
    height:40px;
    line-height:40px;
    background-color:darkkhaki;
    color:#fff;
    text-align:center;
    cursor:pointer;
}
.right_col > a{
  display: block;
}